<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento community edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento community edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Autorelated
 * @version    2.3.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
?>
<?php $abstractBlock = $this->helper('awautorelated')->getAbstractProductBlock() ?>
<?php if ($this->getCollection() && $this->getCollection()->getSize()) : ?>
<div class="block block-related aw-arp-block aw-arp-block-<?php echo $this->getData('id') ?>">
    <div class="block-title">
        <strong>
            <span><?php echo $this->htmlEscape($this->getData('name')) ?></span>
        </strong>
    </div>
    <div class="block-content aw-arp-block-content">
        <ul>
            <?php foreach ($this->getCollection() as $product) : ?>
            <li class="aw-arp-item">
                <a href="<?php echo $abstractBlock->getProductUrl($product) ?>"><img
                        src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(75) ?>"
                        alt="<?php echo $this->htmlEscape($product->getName()) ?>" width="75" height="75"/></a><br/>
                <a href="<?php echo $abstractBlock->getProductUrl($product) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a><br/>
                <?php echo $abstractBlock->getPriceHtml($product, true, '-related') ?>
                <?php if ($product->isSaleable()) : ?>
                <div class="aw-arp-addtocart">
                    <p>
                        <?php if (!$this->isLocationLink($product)): ?>
                        <a class="link-cart"
                           href="<?php echo $abstractBlock->getAddToCartUrl($product) ?>"><?php echo $this->__('Add to Cart') ?></a>
                        <?php else : ?>
                        <a class="link-cart"
                           href="javascript:setLocation('<?php echo $abstractBlock->getAddToCartUrl($product) ?>');"><?php echo $this->__('Add to Cart') ?></a>
                        <?php endif; ?>
                    </p>
                </div>
                <?php else : ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif ?>
                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                <a href="<?php echo $abstractBlock->getAddToWishlistUrl($product) ?>"
                   class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                <?php endif; ?>
            </li>
            <?php endforeach ?>
        </ul>
    </div>
</div>
<?php endif ?>
