<div class="block block-brand-list">
    <div class="block-content">
        <h2>SHOP BY BRAND</h2>
        <?php
        $parent_cat =  Mage::getModel('catalog/category')->loadByAttribute('url_key', 'shop-by-brand'); 
        $collection = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect("*")->addAttributeToFilter('parent_id', array('eq' => $parent_cat->getEntityID()));
        $counter = 1;
        ?>
        <ul>
        <?php foreach ($collection as $cat) { ?>
            <li class="<?php if ($counter == $collection->getSize()) { ?>last<?php } ?>"><a href="<?php echo $cat->getUrl() ?>">
            <?php if ($cat->getThumbnail()) { ?>
                <img alt="<?php echo $cat->getName ?>" src="<?php echo Mage::getBaseUrl('media').'catalog/category/' . $cat->getThumbnail() ?>">
            <?php } else { ?>
                <span><?php echo $cat->getName() ?></span>
            <?php } ?></a></li>
        <?php
            $counter += 1;
        } ?>
        </ul>
    </div>
</div>