<script type="text/javascript" src="<?php echo $this->getSkinUrl('securepay/secureframe/js/review.js') ?>"></script>
<div class="order-review" id="checkout-review-load">
    <?php echo $this->getChildHtml('info') ?>
</div>
