<tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <td class="value">
        <label for ="additional_settings_img_resize"><?php echo $this->__('Width'); ?></label>
        <input type ="text" id="additional_settings_img_resize" name ="additional_settings_img_resize" value ="<?php echo $this->getElement()->getDeal()->getData('additional_settings_img_resize'); ?>" style="width:50px" />
        <label for ="additional_settings_img_resize_height"><?php echo $this->__('Height'); ?></label>
        <input type ="text" id="additional_settings_img_resize_height" name ="additional_settings_img_resize_height" value ="<?php echo $this->getElement()->getDeal()->getData('additional_settings_img_resize_height'); ?>" style="width:50px" />      
    </td>
</tr>