<tr>
   <td class ="value" colspan = "2">
   <div class = "content-header"><h2><?php echo $this->__('Related product'); ?></h2></div>
<?php echo $this->getGridHtml(); ?><style>TD.value {text-align:left!important;width:100%!important;} TD.label {width:280px!important;}</style></td>
</tr>