<?php
/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category	ParadoxLabs
 * @package		ParadoxLabs_MenuBuilder
 * @author		Ryan Hoerr <ryan@paradoxlabs.com>
 */

$tabs = $divs = array();
$first = null;
foreach( $this->getMenus() as $k => $menu ) {
	$id = $menu->getId();

	$tabs[] = '<li><a class="tab-item-link '.(is_null($first) ? 'active' : '').'" title="'.$menu->getName().'" name="menu_'.$id.'_section" id="page_tabs_menu_'.$id.'_section" href="#" rel="'.$id.'"><span><span class="changed" title="The information in this tab has been changed."></span><span class="error" title="This tab contains invalid data. Please solve the problem before saving."></span>'.$menu->getName().'</span></a></li>';
	$divs[] = $menu->getForm();

	if( is_null($first) ) {
		$first = $id;
	}
}

if( is_null($first) ) {
	$first = 0;
}

$form_0 = Mage::getModel('menubuilder/menu')->setId(0)->getForm();

?>
<form id="reorder-submit" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/reorder"); ?>">
	<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
	<input type="hidden" name="tree" id="reorder-tree" value="" />
	<input type="hidden" name="menu" id="reorder-menu" value="" />
</form>
<form id="delete-submit" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/removeItem"); ?>">
	<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
	<input type="hidden" name="tree" id="delete-tree" value="" />
	<input type="hidden" name="menu" id="delete-menu" value="" />
</form>
<form id="edit-get-form" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/editItem"); ?>">
	<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
	<input type="hidden" name="id" id="edit-id" value="" />
</form>
<form id="edit-submit-form" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/doEditItem"); ?>">
	<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
	<div id="submit-contents" style="display:none;"></div>
</form>

<div class="box-right" style="width: 270px;">
	<h3 style="font-size:2em">
		<div id="ajax_loading"></div>
		Add a Link
	</h3>
	
	<div class="entry-edit">
		<form id="add-link" method="post" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/addItem"); ?>">
			<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
			<input type="hidden" name="type" value="link" />
			<input type="hidden" name="menu" value="0" />
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend">Add Custom Link</h4>
			</div>
			<div class="fieldset custom" id="menu_box_fieldset">
				<label>Label</label><input type="text" name="custom[text]" id="custom_text" class="input-text" /><br />
				<label>URL</label><input type="text" name="custom[url]" id="custom_url" class="input-text" /><br />
				<input type="submit" class="form-button" value="Add" />
			</div>
		</form>
	</div>
	
	<div class="entry-edit">
		<form id="add-page" method="post" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/addItem"); ?>">
			<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
			<input type="hidden" name="type" value="page" />
			<input type="hidden" name="menu" value="0" />
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend">Add CMS Page</h4>
			</div>
			<div class="fieldset" id="menu_box_fieldset">
				<div class="menu_overflow">
<?php
	$pages = $this->getPages();
	foreach( $pages as $page ) {
		if( $page->getIsActive() == 0 ) {
			continue;
		}

		echo '<label for="page_'.$page->getId().'"><input type="checkbox" name="page[]" id="page_'.$page->getId().'" value="'.$page->getId().'" /> '.$page->getTitle().'</label>';
	}
?>
				</div>
				<input type="submit" class="form-button" value="Add" />
				<div class="right">
					<a href="#" onclick="jQuery(this).closest('.fieldset').find('input[type=checkbox]').attr('checked',true); return false;">Select All</a>
					<!-- <a href="#" onclick="jQuery(this).closest('.fieldset').find('input[type=checkbox]').attr('checked',false); return false;">Clear</a> -->
				</div>
			</div>
		</form>
	</div>

	<div class="entry-edit">
		<form id="add-cat" method="post" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/addItem"); ?>">
			<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
			<input type="hidden" name="type" value="cat" />
			<input type="hidden" name="menu" value="0" />
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend">Add Category</h4>
			</div>
			<div class="fieldset" id="menu_box_fieldset">
				<div class="menu_overflow">
<?php
	$cats = $this->getCats();
	foreach( $cats as $cat ) {
		if( $cat->getLevel() < 1 || $cat->getIsActive() == 0 ) {
			continue;
		}

		$padding = ($cat->getLevel() - 1) * 10;

		echo '<label for="category_'.$cat->getEntityId().'" style="padding-left: '.$padding.'px">';
		if( $cat->getLevel() > 1 ) {
			echo '<input type="checkbox" name="category[]" id="category_'.$cat->getEntityId().'" value="'.$cat->getEntityId().'" /> ';
		}
		echo $cat->getName().'</label>';
	}
?>
				</div>
				<input type="submit" class="form-button" value="Add" />
				<div class="right">
					<a href="#" onclick="jQuery(this).closest('.fieldset').find('input[type=checkbox]').attr('checked',true); return false;">Select All</a>
					<!-- <a href="#" onclick="jQuery(this).closest('.fieldset').find('input[type=checkbox]').attr('checked',false); return false;">Clear</a> -->
				</div>
			</div>
		</form>
	</div>
</div>
<div class="columns" style="margin-right: 300px;">
	<div id="page:left" class="side-col">
		<h3>Menu Builder</h3>
		<ul class="tabs" id="page_tabs">
			<li><a class="tab-item-link" title="Add a Menu" name="menu_0" id="page_tabs_menu_0_section" href="#" rel="0"><span><span class="changed" title="The information in this tab has been changed."></span><span class="error" title="This tab contains invalid data. Please solve the problem before saving."></span>Add a Menu</span></a></li>
			<?php echo implode("\n", $tabs); ?>
		</ul>
<script type="text/javascript">
//<![CDATA[
	page_tabsJsTabs = new varienTabs('page_tabs', 'edit_form', 'page_tabs_menu_<?php echo $first; ?>_section', []);
//]]>
</script>
	</div>
	<div id="content" class="main-col">
		<div class="main-col-inner">
			<div id="messages"></div>
			<div class="content-header">
				<h3 class="icon-head head-cms-page">Add a Menu</h3>
				<p class="form-buttons">
					<button style="" onclick="setLocation(window.location.href)" class="scalable" type="button" title="Reset" id="id_058d1004a00b8c98e138199dcf17eac9"><span><span><span>Reset</span></span></span></button>
					<button style="" onclick="if(confirm('Are you sure you want to delete this menu? It cannot be undone.')) { setLocation('<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/delete"); ?>id/'+jQuery(page_tabsJsTabs.activeTab).attr('rel')); } return false;" class="scalable delete" type="button" title="Delete Menu" id="id_b6d2bbf23d683953f9e0bc94fed48bc5"><span><span><span>Delete</span></span></span></button>
					<button style="" onclick="editForm.submit();" class="scalable save" type="button" title="Save Menu" id="id_b6d2bbf23d683953f9e0bc94fed48bc5"><span><span><span>Save Menu</span></span></span></button>
				</p>
			</div>
			<div class="entry-edit">
				<form method="post" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/menubuilder/save"); ?>" id="edit_form" enctype="multipart/form-data">
					<input type="hidden" value="<?php echo $this->getFormKey(); ?>" name="form_key" />
					<?php echo $form_0; ?>
					<?php echo implode("\n", $divs); ?>
				</form>
			</div>
<script type="text/javascript">
//<![CDATA[
	editForm = new varienForm('edit_form', '');
//]]>
</script>
		</div>
	</div>
</div>