<?php
/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category	ParadoxLabs
 * @package		ParadoxLabs_MenuBuilder
 * @author		Ryan Hoerr <ryan@paradoxlabs.com>
 */

$id = $this->item->getId();

?>
<div style="display:none" id="edit-submit-form-<?php echo $id; ?>" class="fieldset custom">
	<input type="hidden" name="id" value="<?php echo $id; ?>" />
	<label>Label</label><input type="text" class="input-text" name="label" value="<?php echo $this->item->getLabel(); ?>" /><br />
<?php if( $this->item->getType() == 'link' ): ?>
	<label>URL</label><input type="text" class="input-text" name="url" value="<?php echo $this->item->getUrl(); ?>" /><br />
<?php endif; ?>
	<button class="button" onclick="edit_submit(<?php echo $id; ?>); return false;"><span>Save</span></button>
	<a href="#" onclick="jQuery(this).closest('.custom').slideUp('slow', function(){jQuery(this).remove();}); return false;">Cancel</a>
</div>
