<?php
/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category	ParadoxLabs
 * @package		ParadoxLabs_MenuBuilder
 * @author		Ryan Hoerr <ryan@paradoxlabs.com>
 */

$id = $this->menu->getId();

?>
					<div style="display: none" id="page_tabs_menu_<?php echo $id; ?>_section_content">
						<div class="entry-edit">
							<div class="entry-edit-head">
								<h4 class="icon-head head-edit-form fieldset-legend">Settings</h4>
								<div class="form-buttons"></div>
							</div>
							<div id="portal_general_fieldset" class="fieldset">
								<div class="hor-scroll">
									<table cellspacing="0" class="form-list">
										<tbody>
											<tr>
												<td class="label"><label for="menu_name_<?php echo $id; ?>">Menu Name <?php if($id): ?><span class="required">*</span><?php endif; ?></label></td>
												<td class="value"><input type="text" class=" input-text <?php if($id): ?>required-entry<?php endif; ?>" title="Name" value="<?php echo $this->menu->getName() ?>" name="menu[<?php echo $id; ?>][name]" id="menu_name_<?php echo $id; ?>" /></td>
											</tr>
											<tr>
												<td class="label"><label for="menu_identifier_<?php echo $id; ?>">Menu Identifier <?php if($id): ?><span class="required">*</span><?php endif; ?></label></td>
												<td class="value"><input type="text" class=" input-text <?php if($id): ?>required-entry<?php endif; ?>" title="ID" value="<?php echo $this->menu->getIdentifier() ?>" name="menu[<?php echo $id; ?>][identifier]" id="menu_identifier_<?php echo $id; ?>" /></td>
											</tr>
											<tr>
												<td class="label"><label for="menu_layout_<?php echo $id; ?>">Layout</label></td>
												<td class="value">
													<select class="input-select" title="Layout" name="menu[<?php echo $id; ?>][layout]" id="menu_layout_<?php echo $id; ?>">
														<option value="horizontal" <?php echo ($this->menu->getLayout() == 'horizontal' ? 'selected="selected"' : ''); ?>>Horizontal (dropdown)</option>
														<option value="linear" <?php echo ($this->menu->getLayout() == 'linear' ? 'selected="selected"' : ''); ?>>Horizontal (linear)</option>
														<option value="vertical" <?php echo ($this->menu->getLayout() == 'vertical' ? 'selected="selected"' : ''); ?>>Vertical</option>
														<option value="custom" <?php echo ($this->menu->getLayout() == 'custom' ? 'selected="selected"' : ''); ?>>Custom</option>
													</select>
												</td>
											</tr>
											<tr>
												<td class="label"><label for="menu_auto_add_pages_<?php echo $id; ?>">Add New Pages Automatically</label></td>
												<td class="value">
													<select class="input-yesno" title="Auto Add Pages" name="menu[<?php echo $id; ?>][auto_add_pages]" id="menu_auto_add_pages_<?php echo $id; ?>">
														<option value="0" <?php echo ($this->menu->getAutoAddPages() == '0' ? 'selected="selected"' : ''); ?>>No</option>
														<option value="1" <?php echo ($this->menu->getAutoAddPages() == '1' ? 'selected="selected"' : ''); ?>>Yes</option>
													</select>
												</td>
											</tr>
											<tr>
												<td class="value" colspan="2" style="text-align: center;">
													<?php if( $id > 0 ): ?>
														<a href="#" onclick="jQuery('#embed-<?php echo $id; ?>').slideToggle(); return false;">Get embed codes for this menu</a>
													<?php else: ?>
														<b>Save this menu for codes to add to a page or template.</b>
													<?php endif; ?>
												</td>
											</tr>
										</tbody>
									</table>
									<div id="embed-<?php echo $id; ?>" class="embed" style="display: none; text-align: left;">
										<strong>CMS Page / Static Block</strong><br />
										<div class="code">{{block type="menubuilder/output" identifier="<?php echo $this->menu->getIdentifier(); ?>"}}</div>

										<strong>Layout XML</strong><br />
										<div class="code">&lt;block type="menubuilder/output" name="mb-<?php echo $this->menu->getIdentifier(); ?>"&gt;&lt;action method="setIdentifier"&gt;&lt;id&gt;<?php echo $this->menu->getIdentifier(); ?>&lt;/id&gt;&lt;/action&gt;&lt;/block&gt;</div>

										<strong>Template File (PHP)</strong><br />
										<div class="code">&lt;?php echo Mage::app()-&gt;getLayout()-&gt;createBlock('menubuilder/output')-&gt;setIdentifier( '<?php echo $this->menu->getIdentifier(); ?>' )-&gt;toHtml(); ?&gt;</div>
									</div>
								</div>
							</div>
						</div>
						<div class="entry-edit">
							<div class="entry-edit-head">
								<h4 class="icon-head head-edit-form fieldset-legend">Menu Links</h4>
							</div>
							<div id="portal_general_fieldset" class="fieldset">
								<div>
									Use the sidebar to add links to this menu.
									<div class="tree" rel="<?php echo $id; ?>">
										<?php
											$tree = $this->menu->getAdminTree();
											echo $tree['tree'];
										?>
									</div>
									<script type="text/javascript">jqtree[<?php echo $id; ?>] = <?php echo json_encode($tree['json']); ?>;</script>
								</div>
							</div>
						</div>
					</div>
