<?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
<dl class="sp-methods">
    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <dt><?php echo $this->getCarrierName($code) ?></dt>
        <dd>
            <ul>
            <?php foreach ($_rates->getAllRates() as $_rate): ?>
                <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <?php echo $_rate->getErrorMessage() ?>
                   <?php else: ?>
                        <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
                        <?php $_excl = $this->formatPrice($_rate->getPrice()); ?>
                        <?php echo $_excl; ?>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </dd>
    <?php endforeach; ?>
</dl>
<?php endif; ?>