
<form name="secureframeform" method="post" action="<?php echo $this->getActionUrl(); ?>" target="securepay_secureframe">
	<?php
		foreach ($this->getRequestParameters() as $key => $value) {
		    echo "<input type='hidden' name='$key' value='$value' />";
		}
	?>
</form>
<script type="text/javascript">
//<![CDATA[
var ifr = document.getElementById("securepay_secureframe");
ifr.onload = function(){
  // initially hide all containers for tab content
  document.getElementById("loadingmsg").style.display = "none"; 
  this.style.display = "block";   
};

//]]>
</script>
<h1 id="loadingmsg">Loading payment form...</h1>
<iframe id="securepay_secureframe" name="securepay_secureframe" style="border:2px solid #ccc; width:100%; min-height:360px;margin-top: 30px;" src="" >

</iframe>
<script type="text/javascript">
//<![CDATA[
document.getElementById("securepay_secureframe").style.display = "none";
document.secureframeform.submit();
//]]>
</script>
