form{
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #636363;
}

select {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #636363;
    font-size: 14px;
    line-height: 1.5;
    height: 30px;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 1px solid silver;
    background: #FFFFFF;
    font-size: 15px;
    height: 25px;
}

input[type="submit"], input[type="button"]{
    background: #3399cc;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
}


.button.submit.continue, .button.cancel{
    background: none repeat scroll 0 0 #3399cc !important;
    border: medium none !important;
    color: white;
    height: 30px;
    line-height: 17px;
    padding: 0 10px;
}
#wrapper #header{
    display: none;
}
