<?php

/* @var $this Temando_Temando_Block_Adminhtml_Shipment_Edit_Tab_Form_Articles */
?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Items Ordered'); ?></h4>
    </div>
</div>
<div class="grid np">
    <div class="hor-scroll">
        <table cellspacing="0" class="box np">
            <col />
	    <col style="width: 80px;" />
	    <col style="width: 40px;" />
	    <col style="width: 40px;" />
	    <col style="width: 40px;" />
            <col style="width: 80px;" />
	    <col style="width: 80px;" />
            <col style="width: 70px;" />
            <col style="width: 70px;" />
            <col style="width: 70px;" />
            <col style="width: 70px;" />
            <thead>
                <tr class="headings">
                    <td colspan="8" style="visibility:hidden;"></td>
                    <th colspan="3" class="a-center last"><?php echo $this->__('Dimensions'); ?></th>
                </tr>
                <tr class="headings">
		    <th><?php echo $this->__('Product'); ?></th>
                    <th><?php echo $this->__('SKU'); ?></th>
		    <th><?php echo $this->__('Qty Ordered'); ?></th>
		    <th><?php echo $this->__('Article Value ('.$this->getStoreCurrencyCode().')'); ?></th>
		    <th><?php echo $this->__('Article Description'); ?></th>
		    <th class="a-center"><?php echo $this->__('Packaging Type'); ?></th>
		    <th class="a-center"><?php echo $this->__('Fragile'); ?></th>
                    <th class="a-center"><?php echo $this->__('Weight'); ?></th>
		    <th class="a-center"><?php echo $this->__('Length'); ?></th>
		    <th class="a-center"><?php echo $this->__('Width'); ?></th>
                    <th class="a-center last"><?php echo $this->__('Height'); ?></th>
                </tr>
            </thead>
            <?php $_i = 0; foreach ($this->getShipment()->getOrder()->getAllVisibleItems() as $item): ?>
	    <?php $qty = $item->getQty() ? $item->getQty() : $item->getQtyOrdered(); $show = true; ++$_i; ?>
                <tbody>
                <?php foreach(Mage::helper('temando')->getProductArticles($item) as $article): ?>
                    <tr class="<?php echo $_i % 2 ? 'odd' : 'even'; ?>">
			<td><?php echo $show ? $item->getName() : '--'; ?></td>
                        <td><?php echo $show ? $item->getSku() : '--'; ?></td>
			<td><?php echo $show ? $qty : '--'; ?></td>
			<td><?php echo $this->getShipmentCurrencySymbol() . sprintf(' %.2f', $article['value']); ?></td>
			<td><?php echo $article['description']; ?></td>
			<td><?php echo $this->getPackagingLabel($article['packaging']); ?></td>
                        <td><?php echo $article['fragile'] ? 'Yes' : 'No'; ?></td>
                        <td><?php echo sprintf('%.2f',$article['weight']) . ' ' . $this->getWeightUnitText(); ?></td>
                        <td><?php echo sprintf('%.2f',$article['length']) . ' ' . $this->getMeasureUnitText(); ?></td>
                        <td><?php echo sprintf('%.2f',$article['width']) . ' ' . $this->getMeasureUnitText(); ?></td>
			<td class="last"><?php echo sprintf('%.2f',$article['height']) . ' ' . $this->getMeasureUnitText(); ?></td>
                    </tr>
		    <?php $show = false; ?>
		<?php endforeach; ?>
                </tbody>
            <?php endforeach; ?>
        </table>
    </div>
</div>
