<?php
/* @var $this Temando_Temando_Block_Adminhtml_Shipment_Edit_Tab_Form_Origin */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Origin Location'); ?></h4>
    </div>
    <div class="fieldset">
        <table cellspacing="0" class="form-list">
            <tr>
		<td class="label"><label><?php echo $this->__('Warehouse'); ?></label></td>
                <td class="value">
                    <select id="warehouse_id" name="warehouse_id" style="width: 100%">
			<?php foreach($this->getWarehouseOptions() as $id => $title): ?>
			<?php if($this->getShipment()->getWarehouseId() == $id): ?>
			<option value="<?php echo $id ?>" selected="selected"><?php echo $title ?></option>
			<?php else: ?>
			<option value="<?php echo $id ?>"><?php echo $title ?></option>
			<?php endif; ?>
			<?php endforeach; ?>
		    </select>
		</td>
            </tr>
        </table>     
    </div>
</div>
