<?php
/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category	ParadoxLabs
 * @package		ParadoxLabs_MenuBuilder
 * @author		Ryan Hoerr <ryan@paradoxlabs.com>
 */
?>
<?php if( $this->getId() > 0 ): ?>
	<?php $items = $this->menu->getFrontendTree(); ?>
	<?php $class = $this->getOutputType() != 'custom' ? 'mb-menu' : ''; ?>
	<div class="nav-container">
		<ul class="<?php echo $class; ?> mb-<?php echo $this->getOutputType(); ?> level0" id="nav">
		<?php
			$total = count($items);
			$count = 0;
			foreach( $items as $item ) {
				echo $this->renderMenu($item, 1, $total, $count++);
			}
		?>
		</ul>
	</div>
	<div class="mb-menu-clear"></div>
<?php endif; ?>
