<?php
/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category	ParadoxLabs
 * @package		ParadoxLabs_MenuBuilder
 * @author		Ryan Hoerr <ryan@paradoxlabs.com>
 */

$class = array();
if( !empty($this->item['child_html']) ) {
	$class[] = 'parent';
}
if( $this->item['countCur'] == 0 ) {
	$class[] = 'first';
}
if( $this->item['countCur'] >= $this->item['countItems'] - 1 ) {
	$class[] = 'last';
}

?>
<li id="mb-item-<?php echo $this->item['id']; ?>" class="<?php echo implode(' ', $class); ?>">
	<a href="<?php echo $this->item['output_url']; ?>">
		<span><?php echo $this->item['label']; ?></span>
	</a>
	<?php if( !empty($this->item['child_html']) ): ?>
		<ul class="level<?php echo $this->item['level']; ?>">
			<?php echo $this->item['child_html']; ?>
		</ul>
	<?php endif; ?>
</li>
