div.confirm-insurance {

}

div.confirm-insurance {
    border-spacing: 10px;
    background: none repeat scroll 0 0 #F9F3E3;
    border: 1px solid #BBAFA0;
    margin: 10px;
    padding: 10px;
}

div.confirm-insurance td.c2 {
    padding-left: 15px;
    font-size: 12px;
    font-style: italic;
}

.tmd-grid-severity-critical,
.tmd-grid-severity-critical span,
.tmd-grid-severity-major,
.tmd-grid-severity-major span,
.tmd-grid-severity-minor,
.tmd-grid-severity-minor span,
.tmd-grid-severity-notice,
.tmd-grid-severity-notice span { display:block; height:16px; background-image:url(images/bg_notifications.gif); background-repeat:no-repeat; font:bold 10px/16px Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center; padding:0 0 0 7px; margin:1px 0; white-space:nowrap; color:#fff; }
.tmd-grid-severity-critical { background-position:0 0; }
.tmd-grid-severity-critical span { background-position:100% 0; padding:0 7px 0 0; }
.tmd-grid-severity-major { background-position:0 -16px; }
.tmd-grid-severity-major span { background-position:100% -16px; padding:0 7px 0 0; }
.tmd-grid-severity-minor { background-position:0 -32px; }
.tmd-grid-severity-minor span { background-position:100% -32px; padding:0 7px 0 0; }
.tmd-grid-severity-notice { background-position:0 -48px; }
.tmd-grid-severity-notice span { background-position:100% -48px; padding:0 7px 0 0; }

.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; z-index: 1000; top:4px; left:3px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { width:300px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }