<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
?>
<div class="product-specs">
        <table class="data-table"><tr><td>
        <?php echo $_product->getSpecifications(); ?>
        </td></tr></table>
</div>
