<div class="a-center">
    <h1><?php echo Mage::registry('product')->getName(); ?></h1>
    <p><?php echo $this->getChildHtml('localproducts_redirect_above'); ?></p>
    <?php $unavailable = Mage::registry('unitedtools_localproducts_product_not_found'); ?>
    <?php if ($unavailable): ?>
        <p><?php echo $this->getChildHtml('localproducts_unavailable'); ?></p>
    <?php else: ?>
        <div id="localproduct-searching">
        <?php echo $this->getChildHtml('localproducts_waiting'); ?>
        </div>
        <div id="localproduct-postalcode" class="hidden">
            <div id="localproduct-location-prompt">
                <?php echo $this->getChildHtml('localproducts_no_location'); ?>
            </div>
            <div id="localproduct-location-error" class="hidden">
            <?php echo $this->getChildHtml('localproducts_error'); ?>
            </div>
            <?php $bad_postcode = Mage::registry('unitedtools_localproducts_postcode_not_found'); ?>
            <form id="localproduct-postcode-form" method="GET">
                <input name="postalcode" type="text"></input>
                <button type="submit"><?php echo __("Find product"); ?></button>
            </form>
            <?php if ($bad_postcode): ?>
                <?php echo $this->getChildHtml('localproducts_'); ?>
                <p class="error">
                    <?php echo $this->getChildHtml('localproducts_bad_postcode'); ?>
                </p>
            <?php endif; ?>
        </div>
    <?php endif; ?>
    <p><?php echo $this->getChildHtml('localproducts_redirect_below'); ?></p>
</div>
<?php if (!$unavailable): ?>
<script type="text/javascript">
(function($) {
    var options = {
        enableHighAccuracy: true,
        maximumAge: 0
    };

    function showPostcodePrompt() {
        $('#localproduct-searching').addClass('hidden');
        $('#localproduct-postalcode').removeClass('hidden');
    }

    function hidePostcodePrompt() {
        $('#localproduct-searching').removeClass('hidden');
        $('#localproduct-postalcode').addClass('hidden');
    }

    $('#localproduct-postcode-form button').on('click', function() {
        hidePostcodePrompt();
    });

    navigator.geolocation.getCurrentPosition(function(pos) {
        hidePostcodePrompt();
        window.location.search = '?lat=' + pos.coords.latitude 
             + '&long=' + pos.coords.longitude;
    }, function(e) {
        $('#localproduct-location-prompt').addClass('hidden');
        $('#localproduct-location-error').removeClass('hidden');
    }, options);
    showPostcodePrompt();
})(jQuery);
</script>
<?php endif; ?>
