/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category    ParadoxLabs
 * @package     ParadoxLabs_MenuBuilder
 * @author      Ryan Hoerr <ryan@paradoxlabs.com>
 */

/**
 * Admin form styles. Partially derived from jqTree stylesheet.
 * http://mbraak.github.com/jqTree/
 */

ul.jqtree-tree {
    margin-left: 12px;
}

ul.jqtree-tree,
ul.jqtree-tree ul {
    list-style: none outside;
    margin-bottom: 0;
    padding: 0;
}

ul.jqtree-tree ul {
    display: block;
    margin-left: 12px;
    margin-right: 0;
}

ul.jqtree-tree li.jqtree-closed > ul {
    display: none;
}

ul.jqtree-tree li {
    clear: both;
}
ul.jqtree-tree .jqtree-toggler {
    background-image: url(jqtree-icons.png);
    background-repeat: no-repeat;
    background-position: -8px 0;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    left: -12px;
    top: 30%;
    text-indent: -9999px;
    border-bottom: none;
    cursor: pointer;
}

ul.jqtree-tree div {
    cursor: move;
}

ul.jqtree-tree .jqtree-title {
    color: #333;
    vertical-align: middle;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
    margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
    margin-left: 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
    background-position: 0 0;
}

span.jqtree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: move;
    padding: 2px 8px;
    z-index: 9999;
}

ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
    display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background: #eaeaea;
    border: 1px dashed #1C4257;
    border-radius: 2px;
    margin: 5px 0;
    height: 15px;
    padding: 0 10px;
    width: 100%;
    display: block;
    opacity: 0.7;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
    margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
    position: absolute;
    display: block;
    left: -1px;
    top: -1px;
    border: dashed 1px #1C4257;
    padding: 0 12px;
    height: 25px !important;
    border-radius: 4px;
    margin: 0;
}

ul.jqtree-tree > li {
    width: 350px;
}

ul.jqtree-tree li > div {
    width: 100%;
    *width: auto;
    position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    margin: 5px 0;
    padding: 4px 10px 3px;
}

ul.jqtree-tree .jqtree-moving > div {
    opacity: 0.5;
}

ul.jqtree-tree .btn-edit,
ul.jqtree-tree .btn-remove {
    float: right;
    cursor: pointer;
    color: #EA7601;
    padding: 5px 10px 3px;
    margin: -4px -10px 0 0;
    text-decoration: none;
}

    ul.jqtree-tree .btn-edit:hover,
    ul.jqtree-tree .btn-remove:hover {
        text-decoration: underline;
    }

ul.jqtree-tree div.custom {
    border-width: 1px 0 0;
    background: transparent;
    padding: 10px 5px 0;
    margin-top: 5px;
    cursor: auto;
}

.embed .code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#ajax_loading {
    width: 16px;
    height: 30px;
    background: transparent url('ajax_loading.gif') no-repeat left center;
    display: none;
    float: right;
}

.menu_overflow {
    max-height: 160px;
    margin: -10px -15px 10px;
    padding: 5px 0 0 10px;
    overflow: auto;
}
.menu_overflow label {
    display: block;
}
.custom label {
    display: block;
    float: left;
    width: 60px;
}
.custom .input-text {
    width: 170px;
}
.custom label, .custom .input-text {
    margin-bottom: 10px;
}
