﻿<?php
$displayModule = $this->getDisplayModule();
//echo "<pre>displayModule=";print_r($displayModule);echo "</pre>";

if ($displayModule) {
    $display = $this->getDisplaySidebar();
    //echo "<pre>display=";print_r($display);echo "</pre>";
    if ($display == 1) {
        $max = $this->getMaximumSidebar();
        //echo "<pre>max=";print_r($max);echo "</pre>";
        //$shopbybrands = $this->getBrandsByBegin();
        $shopbybrands = $this->getFeaturedBrands();
        //echo "<pre>shopbybrands=";print_r($shopbybrands);echo "</pre>";
        $shopbybrands_count = count($shopbybrands);
        //$shopbybrands_limit = 5;
        $shopbybrands_counter = 1;
        ?><div class="block shopbybrand_sidebar">
		    <div class="shopbybrandTitle">
                Shop By <?php echo $this->__('Brands'); ?>
            </div>
            <div class="shopByBrands-block-content">
                <ul>
                    <?php
                    if ($shopbybrands_count) {
                        $imageWidth = 150;
                        $imageHeight = 112;
                        ?>
                        <style>
                        .shopbybrand_sidebar .brandWidgetImage,
                        .shopbybrand_sidebar .brandWidgetImage img {
                            height:<?php echo $imageHeight; ?>px;
                            width:<?php echo $imageWidth; ?>px;
                        }
                        </style>
                        <?php
                        foreach ($shopbybrands as $brand) {
                            if ($shopbybrands_counter <= $max) {
                                $html = '<li>';
                                $html .= '<a href="' . $this->getBrandUrl($brand) . '">';
                                $html .= "<div class='brandWidgetImage'>";
                                if ($brand->getImage()) {
                                    $path = 'brands' . DS . $brand->getId();
                                    $imgSrc = Mage::helper('shopbybrand/image')->init($brand, $path)->resize($imageWidth, $imageHeight);
                                    $html .= "<img src='{$imgSrc}' alt='" . $brand->getData('name') . "' ";
                                    $html .= "title='" . $brand->getData('name') . "' />";
                                } else {
                                    $html .= '<div class="brandWidgetTitleOffset">' . $brand->getData('name') . '</div>';
                                }
                                $html .= '</div>';
                                $html .= '</a>';
                                $html .= '</li>';
                                echo $html;
                            } else {
                                break;
                            }
                            $shopbybrands_counter++;
                        }
                    }
                    ?>
                </ul>
                <div class="actions" style="border-top:none;">
                    <?php
                    if ($shopbybrands_count) {
                        $setlink = Mage::getStoreConfig('shopbybrand/general/router');
                        ?>
                        <a href="<?php echo $this->getUrl($setlink, array()); ?>">
                            <?php echo $this->__('View all'); ?>
                        </a>
                        <?php
                    }
                    ?>
                </div>
            </div>
        </div>
        <?php
    }
}
?>