<?php
    $_helper    = $this->helper('catalog/output');
    $_category = Mage::registry('current_category');
?>
<div class="block block-left-cat-name">
    <div class="block-title">
        <h2><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h2>
    </div>
</div>