/* global styles */
DIV[class|="magalter-deal-cms"] { padding:10px; }
DIV[class|="magalter-deal"] .short-description { text-align:justify; text-indent:10px; }
DIV[class|="magalter-deal"] {clear:both}
DIV[class|="magalter-deal"] TABLE {width:100%} 
DIV[class|="magalter-deal"] TD.Td-product-image {vertical-align:middle!important; text-align:center;}

/* SKY skin */
.magalter-deal-sky {width:197px;font-family:Arial,Helvetica,sans-serif;margin: 0 0 15px;position:relative;}
.magalter-deal-sky .light {background:rgb(180,229,246);}
.magalter-deal-sky .dark {background:rgb(110,194,230);}
.magalter-deal-sky .livecount-wrapper {position:relative;width:197px;clear:both;height:80px;background: url('../magalter_deals/images/cms_sky.jpg') no-repeat center center;}
.magalter-deal-sky TD.Td-product-image {width:35%;}
.magalter-deal-sky TD.Td-product-price {width:65%;padding-top:10px;}
.magalter-deal-sky .time-to-event-header {height:30px;color:rgb(17,10,18);text-align:center;width:100%; margin:0;padding:0;font-size:20px;  }
.magalter-deal-sky .time-to-event {display:none;}
.magalter-deal-sky .product-image {display:block;padding:5px;} 
.magalter-deal-sky H2.product-name {margin:0;padding:0;padding:10px 10px;} 
.magalter-deal-sky .product-name a {font-size:16px;color:rgb(17,10,18);} 
.magalter-deal-sky .add-to-cart {margin:3px;clear:both;}
.magalter-deal-sky .price-box P { margin:0;padding:0;  }
.magalter-deal-sky .livecounter {color:rgb(245,245,245);position:absolute;top:27px;z-index:20;text-align:center;width:100%;margin:0;padding:0;font-size:17px; letter-spacing:9px;} 
.magalter-deal-sky .livecounter .sep-day { position:absolute; z-index:99; left:24px;  }
.magalter-deal-sky .livecounter .sep-hour { position:absolute; z-index:99; left:64px;  }
.magalter-deal-sky .livecounter .sep-minute { position:absolute; z-index:99; left:106px;  }
.magalter-deal-sky .livecounter .sep-second { position:absolute; z-index:99; left:147px;  }
.magalter-deal-sky .days, 
.magalter-deal-sky .hours, 
.magalter-deal-sky .minutes,
.magalter-deal-sky .seconds {color:rgb(17,10,18);position:absolute;z-index:30;font-size:9px;top:54px;padding:0;margin:0;}
.magalter-deal-sky .days {left:25px;}
.magalter-deal-sky .hours {left:64px;}
.magalter-deal-sky .minutes {left:105px;}
.magalter-deal-sky .seconds {left:146px;}
.magalter-deal-sky .price SPAN {display:block;float:left;margin-right:3px;}
.magalter-deal-sky .price .special-price,
.magalter-deal-sky .price .price,
.magalter-deal-sky .price .old-price,
.magalter-deal-sky .price .old-price .price-label {font-size:11px!important;color:rgb(17,10,18);}
.magalter-deal-sky .price .special-price SPAN {color:#E56600 !important;}
.magalter-deal-sky .price .special-price .price-label {font-size:11px!important;}
.magalter-deal-sky .short-description {width:187px;font-size:11px;padding:5px;}
/**************************************************************************************************/

/* CALENDAR skin */
.magalter-deal-calendar {width:197px;font-family:Arial,Helvetica,sans-serif;margin: 0 0 15px;position:relative;}
.magalter-deal-calendar .light {background:rgb(167,206,247);}
.magalter-deal-calendar .dark {background:rgb(31,151,201);}
.magalter-deal-calendar .livecount-wrapper {position:relative;width:197px;clear:both;height:60px;background: url('../magalter_deals/images/calendar.jpg') no-repeat -7px -21px;}
.magalter-deal-calendar TD.Td-product-image {width:35%;}
.magalter-deal-calendar TD.Td-product-price {width:65%;padding-top:10px;}
.magalter-deal-calendar .time-to-event-header {height:30px;color:rgb(17,10,18);text-align:center;width:100%; margin:0;padding:0;font-size:20px;  }
.magalter-deal-calendar .time-to-event {display:none;}
.magalter-deal-calendar .product-image {display:block;padding:5px;} 
.magalter-deal-calendar H2.product-name {margin:0;padding:0;padding:10px 10px;} 
.magalter-deal-calendar .product-name a {font-size:16px;color:rgb(17,10,18);} 
.magalter-deal-calendar .add-to-cart {margin:3px;clear:both;}
.magalter-deal-calendar .price-box P { margin:0;padding:0;  }
.magalter-deal-calendar .livecounter {position:absolute;top:23px;z-index:20;text-align:center;width:100%;margin:0;padding:0;font-size:17px; word-spacing:20px;font-weight:bold;} 
.magalter-deal-calendar .livecounter .sep-day { position:absolute; z-index:99; left:22px;  }
.magalter-deal-calendar .livecounter .sep-hour { position:absolute; z-index:99; left:66px;  }
.magalter-deal-calendar .livecounter .sep-minute { position:absolute; z-index:99; left:112px;  }
.magalter-deal-calendar .livecounter .sep-second { position:absolute; z-index:99; left:156px;  }
.magalter-deal-calendar .days, 
.magalter-deal-calendar .hours, 
.magalter-deal-calendar .minutes,
.magalter-deal-calendar .seconds {color:white;position:absolute;z-index:30;font-size:9px;top:11px;padding:0;margin:0;}
.magalter-deal-calendar .days {left:21px;}
.magalter-deal-calendar .hours {left:64px;}
.magalter-deal-calendar .minutes {left:105px;}
.magalter-deal-calendar .seconds {left:146px;}
.magalter-deal-calendar .price SPAN {display:block;float:left;margin-right:3px;}
.magalter-deal-calendar .price .special-price,
.magalter-deal-calendar .price .price,
.magalter-deal-calendar .price .old-price,
.magalter-deal-calendar .price .old-price .price-label {font-size:11px!important;color:rgb(17,10,18);}
.magalter-deal-calendar .price .special-price SPAN {color:#E56600 !important;}
.magalter-deal-calendar .price .special-price .price-label {font-size:11px!important;}
.magalter-deal-calendar .short-description {width:187px;font-size:11px;padding:5px;}
/**************************************************************************************************/
 
/* CMS block styles Calendar skin */
.magalter-deal-cms-calendar {background:#A7CEF7;position:relative; }
.magalter-deal-cms-calendar .product-name a { color:rgb(17,10,18)!important; font-size:14px; }
.magalter-deal-cms-calendar .price-box P { margin:0; padding: 0; }
.magalter-deal-cms-calendar .add-to-cart {margin:3px;text-align:left;clear:both;}
.magalter-deal-cms-calendar .price .special-price,
.magalter-deal-cms-calendar .price .price,
.magalter-deal-cms-calendar .price .old-price {font-size:12px;}
.magalter-deal-cms-calendar .price .special-price SPAN {color:rgb(229,102,0)!important;}
.magalter-deal-cms-calendar .price .old-price SPAN {color:rgb(17,10,18)!important;}
.magalter-deal-cms-calendar .livecount-wrapper {background: url('../magalter_deals/images/calendar.jpg') no-repeat center center;width:190px;height:80px;position:relative;}
.magalter-deal-cms-calendar .livecounter {position:relative;top:17px;z-index:20;   text-align:center;margin:0;padding:0;font-size:16px; word-spacing:2px;  } 
.magalter-deal-cms-calendar .livecounter .sep-day { position:absolute; z-index:99; left:17px;  }
.magalter-deal-cms-calendar .livecounter .sep-hour { position:absolute; z-index:99; left:64px;  }
.magalter-deal-cms-calendar .livecounter .sep-minute { position:absolute; z-index:99; left:108px;  }
.magalter-deal-cms-calendar .livecounter .sep-second { position:absolute; z-index:99; left:152px;  }
.magalter-deal-cms-calendar .days, 
.magalter-deal-cms-calendar .hours, 
.magalter-deal-cms-calendar .minutes,
.magalter-deal-cms-calendar .seconds {color:white;position:absolute;z-index:30;font-size:9px;top:31px;}
.magalter-deal-cms-calendar .days {left:17px;}
.magalter-deal-cms-calendar .hours {left:59px;}
.magalter-deal-cms-calendar .minutes {left:99px;}
.magalter-deal-cms-calendar .seconds {left:142px;}
.magalter-deal-cms-calendar .time-to-event {position:relative;top:1px;z-index:10;color:rgb(245,245,245);text-align:center;width:100%;margin:0;padding:0;font-size:16px;}
.magalter-deal-cms-calendar .magalter-td-counter {text-align:right;width:25%;vertical-align:middle;}
.magalter-deal-cms-calendar .magalter-td-content {text-align:left;width:50%;padding-top:10px;}
.magalter-deal-cms-calendar .magalter-td-image {width:25%; vertical-align:middle;padding:5px;}

/* sky SKIN CMS BLOCK STYLES */
.magalter-deal-cms-sky {background:rgb(180,229,246);position:relative;font-family:Arial,Helvetica,sans-serif; }
.magalter-deal-cms-sky .product-name a { color:rgb(17,10,18)!important; font-size:14px; }
.magalter-deal-cms-sky .price-box P { margin:0; padding: 0; }
.magalter-deal-cms-sky .price .special-price,
.magalter-deal-cms-sky .price .price,
.magalter-deal-cms-sky .price .old-price {font-size:12px;}
.magalter-deal-cms-sky .price .special-price SPAN {color:rgb(229,102,0)!important;}
.magalter-deal-cms-sky .price .old-price SPAN {color:rgb(17,10,18)!important;}
.magalter-deal-cms-sky .livecount-wrapper {background: url('../magalter_deals/images/sky.jpg') no-repeat center center;width:190px;height:80px;position:relative;}
.magalter-deal-cms-sky .livecounter {letter-spacing:11px;position:relative;top:3px;z-index:20;text-align:center;margin:0;padding:0;font-size:16px; color:rgb(245,245,245); } 
.magalter-deal-cms-sky .livecounter .sep-day { position:absolute; z-index:99; left:18px;}
.magalter-deal-cms-sky .livecounter .sep-hour { position:absolute; z-index:99; left:61px;}
.magalter-deal-cms-sky .livecounter .sep-minute { position:absolute; z-index:99; left:104px;}
.magalter-deal-cms-sky .livecounter .sep-second { position:absolute; z-index:99; left:146px;}
.magalter-deal-cms-sky .days, 
.magalter-deal-cms-sky .hours, 
.magalter-deal-cms-sky .minutes,
.magalter-deal-cms-sky .seconds {position:absolute;z-index:30;font-size:9px;top:57px;color:color:rgb(17,10,18);}
.magalter-deal-cms-sky .days {left:17px;}
.magalter-deal-cms-sky .hours {left:59px;}
.magalter-deal-cms-sky .minutes {left:99px;}
.magalter-deal-cms-sky .seconds {left:142px;} 
.magalter-deal-cms-sky .time-to-event {color:rgb(17,10,18);position:relative;top:1px;z-index:10;text-align:center;width:100%;margin:0;padding:0;font-size:16px;}
.magalter-deal-cms-sky .magalter-td-counter {text-align:right;width:25%;vertical-align:middle;}
.magalter-deal-cms-sky .magalter-td-content {text-align:left;width:50%;padding-top:10px;}
.magalter-deal-cms-sky .magalter-td-image {width:25%; vertical-align:middle;padding:5px;}
.magalter-deal-cms-sky .add-to-cart {margin:3px;clear:both;}


/**************************************************************************************************/
/* twilight SKIN CMS BLOCK STYLES */
.magalter-deal-cms-twilight {background:#C7C3C2;position:relative;font-family:Arial,Helvetica,sans-serif; }
.magalter-deal-cms-twilight .product-name a { color:rgb(17,10,18)!important; font-size:14px; }
.magalter-deal-cms-twilight .add-to-cart {margin:3px;clear:both;}
.magalter-deal-cms-twilight .price-box P { margin:0; padding: 0; }
.magalter-deal-cms-twilight .short-description {padding:5px;}
.magalter-deal-cms-twilight .price .special-price, 
.magalter-deal-cms-twilight .price .price,
.magalter-deal-cms-twilight .price .old-price {font-size:12px;}
.magalter-deal-cms-twilight .price .special-price SPAN {color:rgb(229,102,0)!important;}
.magalter-deal-cms-twilight .price .old-price SPAN {color:rgb(17,10,18)!important;}
.magalter-deal-cms-twilight .livecount-wrapper {background: url('../magalter_deals/images/twilight.jpg') no-repeat center center;width:190px;height:80px;position:relative;}
.magalter-deal-cms-twilight .livecounter {letter-spacing:4px;position:relative;top:8px;z-index:20;text-align:center;margin:0;padding:0;font-size:17px;font-weight:bold; color:rgb(17,10,18); } 
.magalter-deal-cms-twilight .livecounter .sep-day { position:absolute; z-index:99; left:18px;}
.magalter-deal-cms-twilight .livecounter .sep-hour { position:absolute; z-index:99; left:61px;}
.magalter-deal-cms-twilight .livecounter .sep-minute { position:absolute; z-index:99; left:104px;}
.magalter-deal-cms-twilight .livecounter .sep-second { position:absolute; z-index:99; left:146px;}
.magalter-deal-cms-twilight .days, 
.magalter-deal-cms-twilight .hours, 
.magalter-deal-cms-twilight .minutes,
.magalter-deal-cms-twilight .seconds {position:absolute;z-index:30;font-size:9px;top:57px;color:rgb(245,245,245);}
.magalter-deal-cms-twilight .days {left:17px;}
.magalter-deal-cms-twilight .hours {left:59px;}
.magalter-deal-cms-twilight .minutes {left:99px;} 
.magalter-deal-cms-twilight .seconds {left:142px;} 
.magalter-deal-cms-twilight .time-to-event {color:rgb(17,10,18);position:relative;top:3px;z-index:10;text-align:center;width:100%;margin:0;padding:0;font-size:15px;}
.magalter-deal-cms-twilight .magalter-td-counter {text-align:right;width:25%;background:rgb(132,130,131);}
.magalter-deal-cms-twilight .magalter-td-content {text-align:left;width:50%;padding-top:10px;}
.magalter-deal-cms-twilight .magalter-td-image {width:25%; vertical-align:middle;padding:5px;}

/* Twilight zone skin */
.magalter-deal-twilight {width:197px;font-family:Arial,Helvetica,sans-serif;margin: 0 0 15px;position:relative;}
.magalter-deal-twilight .light {background:rgb(199,195,194);}
.magalter-deal-twilight .dark {background:rgb(123,123,123);}
.magalter-deal-twilight .livecount-wrapper {position:relative;width:197px;clear:both;height:65px;background: url('../magalter_deals/images/twilight.jpg') no-repeat -7px -3px;}
.magalter-deal-twilight TD.Td-product-image {width:35%;}
.magalter-deal-twilight TD.Td-product-price {width:65%;padding-top:10px;}
.magalter-deal-twilight .time-to-event-header {height:30px;color:rgb(17,10,18);text-align:center;width:100%; margin:0;padding:0;font-size:20px;  }
.magalter-deal-twilight .time-to-event {display:none;}
.magalter-deal-twilight .product-image {display:block;padding:5px;} 
.magalter-deal-twilight H2.product-name {margin:0;padding:0;padding:10px 10px;} 
.magalter-deal-twilight .product-name a {font-size:16px;color:rgb(17,10,18);} 
.magalter-deal-twilight .add-to-cart {margin:3px;clear:both;}
.magalter-deal-twilight .price-box P { margin:0;padding:0;  }
.magalter-deal-twilight .livecounter {position:absolute;top:26px;z-index:20;text-align:center;width:100%;margin:0;padding:0;font-size:17px; word-spacing:20px;font-weight:bold;} 
.magalter-deal-twilight .livecounter .sep-day { position:absolute; z-index:99; left:17px;  }
.magalter-deal-twilight .livecounter .sep-hour { position:absolute; z-index:99; left:62px;  }
.magalter-deal-twilight .livecounter .sep-minute { position:absolute; z-index:99; left:104px;  }
.magalter-deal-twilight .livecounter .sep-second { position:absolute; z-index:99; left:152px;  }
.magalter-deal-twilight .days, 
.magalter-deal-twilight .hours, 
.magalter-deal-twilight .minutes,
.magalter-deal-twilight .seconds {color:white;position:absolute;z-index:30;font-size:9px;top:47px;padding:0;margin:0;}
.magalter-deal-twilight .days {left:14px;}
.magalter-deal-twilight .hours {left:58px;}
.magalter-deal-twilight .minutes {left:98px;}
.magalter-deal-twilight .seconds {left:146px;}
.magalter-deal-twilight .price SPAN {display:block;float:left;margin-right:3px;}
.magalter-deal-twilight .price .special-price,
.magalter-deal-twilight .price .price,
.magalter-deal-twilight .price .old-price,
.magalter-deal-twilight .price .old-price .price-label {font-size:11px!important;color:rgb(17,10,18);}
.magalter-deal-twilight .price .special-price SPAN {color:#E56600 !important;}
.magalter-deal-twilight .price .special-price .price-label {font-size:11px!important;}
.magalter-deal-twilight .short-description {width:187px;background:rgb(199,195,194);font-size:11px;padding:5px;}
/**************************************************************************************************/

/* United Tools Blue skin*/
.magalter-deal-united_tools_blue {background-color: rgb(0, 76, 155); background-image: url(../magalter_deals/images/daily-deal-ut-blue.png); background-repeat: no-repeat; color: rgb(255, 255, 255); width: 221px; margin: 0 0 15px; position: relative; min-height: 277px}
.magalter-deal-united_tools_blue .price .old-price {display: none;}
.magalter-deal-united_tools_blue .price .special-price .price-label {display: none;}
.magalter-deal-united_tools_blue .time-to-event-header {display: none;}
.magalter-deal-united_tools_blue .livecount-wrapper {position: absolute; bottom: 8px; left: 8px; width: 100%; background: url(../magalter_deals/images/daily-deal-counter-bg-ut-blue.png) no-repeat; height: 37px;}
.magalter-deal-united_tools_blue .livecount-wrapper .time-to-event-label-bot {color: rgb(158, 158, 158); font-size: 1.1em; position: absolute; left: 25px; line-height: 37px; }
.magalter-deal-united_tools_blue .livecount-wrapper .livecounter {position: absolute; left: 100px; line-height: 37px;}
.magalter-deal-united_tools_blue .contents {position: absolute; top: 78px; left: 8px; width: 205px;}
.magalter-deal-united_tools_blue H2.product-name {position: absolute; top: 180px; text-align: center; width: 100%;}
.magalter-deal-united_tools_blue H2.product-name a {color: rgb(255, 255,255) !important; font-size: 1.2em;}
.magalter-deal-united_tools_blue .time-to-event {display: none;}
.magalter-deal-united_tools_blue .add-to-cart button.btn-cart {margin: -3px auto 0; float: none;}
.magalter-deal-united_tools_blue .add-to-cart button.btn-cart span {background: url(../magalter_deals/images/get-in-btn.png) no-repeat left top; text-indent: -999em; display: block; width: 103px; height: 35px;}
.magalter-deal-united_tools_blue TD.Td-product-price {text-align: center;}
.magalter-deal-united_tools_blue TD.Td-product-price span.price {color: rgb(0, 0, 0) !important; font-size: 1.2em;}
.magalter-deal-united_tools_blue TD.Td-product-price .small-market-price {display: none;}
.magalter-deal-united_tools_blue TD.Td-product-price .small-you-save-price {display: none;}
.magalter-deal-united_tools_blue TD.Td-product-price .large-price-block {margin-bottom: 0;}
.magalter-deal-united_tools_blue TD.Td-product-price .price-box {margin-bottom: 0;}
