@charset "UTF-8";

/**
 * Magento Menu Builder
 *
 * ParadoxLabs inc
 * http://www.paradoxlabs.com
 * 717-431-3330
 *
 * Having a problem with the plugin?
 * Not sure what something means?
 * Need custom development?
 * Give us a call!
 *
 * @category	ParadoxLabs
 * @package		ParadoxLabs_MenuBuilder
 * @author		Ryan Hoerr <ryan@paradoxlabs.com>
 */

/**
 * Styles derived from the 'CSS Drop-Down Menu'
 *
 * @browsers	Windows: IE6+, Opera7+, Firefox3+ (under original configuration)
 *				Mac OS: Safari2+, Firefox3+
 * @link		http://www.lwis.net/free-css-drop-down-menu
 */

/** Global **/
.mb-menu-clear {
	clear: both;
}
.mb-menu,
.mb-menu li,
.mb-menu ul {
	list-style: none;
}
.mb-menu {
	position: relative;
	/*z-index: 59700;*/
	float: left;
}
	.mb-menu li {
		float: left;
		min-height: 1px;
		line-height: 1.3em;
		vertical-align: middle;
	}
		.mb-menu li.hover,
		.mb-menu li:hover {
			position: relative;
			/*z-index: 59800;*/
			cursor: default;
		}
	ul.mb-menu ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 59800;
		width: 100%;
		margin: 0;
	}
		.mb-menu ul li {
			float: none;
			/*z-index: 59800;*/
		}
		.mb-menu ul ul {
			top: 1px;
			left: 99%;
		}
	.mb-menu li:hover > ul {
		display: block;
	}
	.mb-menu a {
		display: block;
		padding: 7px 10px;
	}
	.mb-menu li {
		border: medium none;
		padding: 0;
	}
	.mb-menu ul a {
		padding: 4px 10px;
	}

/** Horizontal **/
.mb-horizontal {
	float: left;
	position: relative;
	/*z-index: 59700;*/
}
	.mb-horizontal li {
		float: left;
		line-height: 1.3em;
		min-height: 1px;
		vertical-align: middle;
	}
		.mb-horizontal li.hover,
		.mb-horizontal li:hover {
			cursor: default;
			position: relative;
			/*z-index: 59800;*/
		}
		.mb-horizontal li.parent > a {
			background-image: url('../images/mb-arrow-down.png');
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 18px;
		}
			.mb-horizontal ul li.parent > a {
				background-image: url('../images/mb-arrow-right.png');
			}
	.mb-horizontal ul {
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 59800;
		min-width: 150px;
	}
		.mb-horizontal ul li {
			float: none
		}
		.mb-horizontal ul ul {
			left: 99%;
			top: 1px;
		}
	.mb-horizontal > li.last ul ul {
		left: auto !important;
		right: 99%;
	}
	.mb-horizontal > li.last ul {
		left: auto;
		right: 0;
	}

ul.last li,
li.last li {
	text-align: right
}

/** Vertical **/
.mb-vertical {
	width: 200px;
}
	ul.mb-vertical ul {
		left: 99%;
		top: 1px;
		min-width: 150px;
	}
	.mb-vertical li {
		float: none;
	}
		.mb-vertical > li > a {
			padding: 4px 10px;
		}
		.mb-vertical li.parent > a {
			background-image: url('../images/mb-arrow-right.png');
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 18px;
		}

/** Linear **/
.mb-linear {
	width: 100%;
}
	.mb-linear ul li {
		float: left;
	}
		.mb-linear li.hover,
		.mb-linear li:hover {
			position: static;
		}
		.mb-linear > li.parent > a {
			background-image: url('../images/mb-arrow-down.png');
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 18px;
		}
	.mb-linear ul ul {
		display: none !important;
	}

/** Styles **/
.mb-menu ul {
	background: #fff;
	border: 1px solid #eaeaea;
}

	.mb-menu a {
		color: #2f2f2f;
	}

#nav {
	float: none;
	border: 0;
	background: inherit;
	color: inherit;
}
	#nav > li.parent > a {
		background: transparent;
	}

.footer .mb-menu li {
	display: block;
	text-align: left;
}
